google-api-python-client==2.142.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
google-generativeai==0.7.2
groq==0.9.0
moviepy==1.0.3
Pillow==10.4.0
edge-tts==6.1.12
gTTS==2.5.1
pytrends==4.9.2
requests==2.32.3
beautifulsoup4==4.12.3
numpy==1.26.4
feedparser==6.0.11
httplib2==0.22.0
